body {
	margin: 0;
}

#map {
	width: 100vw;
	height: 500px;
}

#header {
	font-size: 50px;
	text-align: center;
}

#progress {
	margin: 0 auto;
}

#grid-list {
	margin: 0 auto !important;
	max-width: 1000px;
}

.rating {
	color: white;
	font-size: 30px;
	margin-right: 16px;
	vertical-align: middle;
}

.rating-number {
	display: inline-block;
	font-weight: 100;
}
