a {
	color: rgb(234, 57, 35);
}

body {
	margin: 0;
}

h1#header {
	position: relative;
	font-family: "Roboto", sans-serif;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	padding-top: 315px;
	padding-bottom: 25px;
	position: relative;
}

h2 {
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: rgb(0, 0, 0);
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	margin-bottom: 16px;
	padding-bottom: 7px;
}

h3 {
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
	margin-top: 20px;
}

h4 {
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: normal;
	line-height: 26px;
	margin-top: 20px;
}

hr {
	margin: 30px !important;
}

#map {
	width: 100vw;
	height: 300px;
	text-align: center;
}

.marker {
	color: rgb(234, 57, 35) !important;
	font-size: 40px !important;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#overlay {
   background: transparent;
   position: relative;
   width: 100vw;
   height: 300px;
   top: 300px;
   margin-top: -300px;
}

#progress {
	margin: 400px 50vh;
}

#grid-list {
	cursor: pointer;
	margin: 0 auto !important;
	max-width: 1000px;
}

.rating {
	color: white;
	font-size: 30px;
	margin-right: 16px;
	vertical-align: middle;
}

.rating-number {
	display: inline-block;
	font-weight: 100;
}

#info {
	display: flex;
	flex-direction: row;
}

.info-box {
	flex-grow: 1;
	text-align: center;
}

#restaurant-window {
	line-height: 18px;
}

#open-in-new {
	font-size: 18px !important;
}
